@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	font-family: 0;
	box-sizing: 0;
}
body {
	background: #FFFFFF;
	display: flex;
	min-height: 100vh
}
.LC{
	color: #1A5CE0;
	font-family: OstrichSans-Bold;
	font-weight: 400;
	margin-left: 15px;
}
.BarraMenu {
	background: #2D2F33;
	position: fixed;
	height:7%;
}
#CabeceraPrincipal{
	width: 84%;
}
#CabeceraHotel{
	left: 84%;
	width:12%
}
#hotel {
	color:#1A5CE0;
	margin-top:2%;
	font-family: OstrichSans-Medium;
	letter-spacing: 2px;
}
#CabeceraSalida{
	position:absolute;
	position: fixed;
	left:96%;
	width:4%
	}
#botcierre{
	margin-top: 10px;
	}
.EstiloLetra {
	color:#0C6FC6;
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
	font-weight: 700;
	font-size: 1.2em;
}
h3{
	letter-spacing: 2px;
}
.BarraTexto{
	background:#B2B2B2;
	margin-top:5px;
	margin-bottom:5px;
}
#idhab{
	width:302px;
}
#th{
	width:267px;
}
#cost{
	width:272px;
}
.BarraNota{
	background:#B2B2B2;
	width:640px;
}
.BarraNumero{
	background:#B2B2B2;
	width:35px;
	margin-right:20px;
	color: black;
}
#simp{
	margin-left:25px;
}
.boton{
	margin-top:20px;
	margin-left: 258px;
	background: #2D2F33;
	color: white;
}
form {
	background: #2D2F33;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 25px;
	border-style: groove;
	border-color: #FFFFFF;
}
@font-face{
	font-family: "OstrichSans-Medium";
	src:url(../Recursos/OstrichSans-Medium.otf)
}
@font-face{
	font-family: "OstrichSans-Bold";
	src:url(../Recursos/OstrichSans-Bold.otf)
}
h3 {
	color: white;
	font-family: OstrichSans-Medium;
	font-weight: 100;
}
.FR {
	color: #0C6FC6;
	font-family: OstrichSans-Medium;
	font-weight: 100;
	margin-top: 10%;
	margin-bottom: 1%;
}
.Titulo{
	color: #0C6FC6;
	font-weight: 100;
	margin-top: 8%;
	margin-left:30%
}
.CuadroExt {
	background: #2D2F33;
	margin-top: 60px;
	max-height:3000px;
	padding: 20px;
}